.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.userList {
  color: black;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}

.rowData {
  padding-left: 50px;
}

#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout {
  height: 100vh;
}

.logo {
  height: 50px;
  padding-left: 20px;
}

.ant-menu-inline {
  padding-top: 30px;
}

.forgotPassword {
  margin-left: 300px;
}

.ForgotPasswordLogin {
  margin-left: -40px;
}

#basic_username {
  border: none;
  border-bottom: 1px solid;
  box-shadow: none;
}

#basic_password {
  border: none;
  border-bottom: 1px solid;
  box-shadow: none;
  padding-left: 10px;
}
.ant-input-password {
  border-color: white;
  box-shadow: none;
}
.ant-input-password:hover {
  border-color: white;
  box-shadow: none;
}

.ant-form-item-has-error .ant-input-affix-wrapper {
  border-color: white;
}
.ant-form-item-has-error .ant-input-affix-wrapper:hover {
  border-color: white;
}
.ant-form-item-has-error .ant-input-affix-wrapper:focus {
  box-shadow: none;
  border-color: white;
}

.fade {
  background: white;
}

.modal.show .modal-dialog {
  box-shadow: 0px 0px 20px black;
  width: 370px;
}
.login-button {
  width: 165px;
  left: -20px;
  background-color: #3797d5;
}

.action-button-user {
  display: flex;
  justify-content: flex-end;
}

.ant-dropdown-link-profile {
  position: relative;
  left: 65%;
}

.anticon-down svg {
  font-size: 20px;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: #3695d2;
  color: white;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 5px;
  text-align: center;
  font-size: 33px;
}

.dot .text {
  position: relative;
  top: -5px;
}

.profie-view-card {
  width: 500px;
  height: 300px;
}

.ant-dropdown-link-profile {
  position: relative;
  border: none;
}

.profile-view-image-list {
  display: flex;
}

.profie-view-image-card {
  height: 100px;
  width: 100px;
}
.edit-profile {
  width: 1000px;
}

.header-profile-image {
  height: 40px;
  border-radius: 30px;
}

.anticon-user-add {
  font-size: 30px;
  color: #2a8ef7;
}
.anticon-file-pdf {
  font-size: 30px;
  color: #cb2f2a;
}
.anticon-file-excel {
  font-size: 30px;
  color: #317246;
}
@media only screen and (min-width: 600px) {
  .username {
    justify-content: center;
    width: 470px;
    margin-left: -60px;
  }

  .password {
    justify-content: center;
    margin-left: -117px;
    width: 600px;
  }
  .userForm {
    margin-left: 30px;
  }

  .editUserForm .ant-btn-primary {
    margin-left: 80px;
  }

  .ant-dropdown-link-profile {
    position: relative;
    left: 85%;
  }
}
